<!DOCTYPE html>
<html>
<head>
  <title>GINA What Where</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="content">
    <%= yield %>
  </section>
  <section id="footer">
    <%= image_tag 'GINA_poweredby.png' %>
  </section>
</body>
</html>
